html
<html><head></head><body><div class="row">
<div class="container">
<div class="logo">

  <img src="../../../assets/APLogo-20-20.png" id="logoAP">
</div>
<div class="redes">
  <div>
    <a href="https://www.linkedin.com/in/gabriela-garc%C3%ADa-longo-79881590/"><img src="../../../assets/linkedin1.png" id="Linkedin"></a>
    <a href="https://github.com/Gabita2020"><img src="../../../assets/github1.png" id="Github"></a>
    <a href="https://www.instagram.com/gaby.garcia.9619934/"><img src="../../../assets/instagram1.png" id="Instagram"></a>
    <a href="https://twitter.com/ggarcialongo1"><img src="../../../assets/twitter1.png" alt="logo twitter" id="Twitter"></a>
    <a href="https://www.facebook.com/gaby.garcia.9619934/"><img src="../../../assets/facebook1.png" id="Facebook"></a>
    <button type="button" class="btn btn-outline-light">INGRESO</button>
</div>
</div>
</div>


</div>



</body></html>