<html><head></head><body><div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../assets/perfilrojogaby.jpg" class="img-fluid" id="fotoperfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

      <p id="nombre"> Gabriela Mariana García</p> <button class="btn btn information" ng-click="open" edit="openEdit"></button>
      <p>Full-Stack Sunior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mí</h1>
        <p>La experiencia en murales, actividades artísticas,
           atención al cliente y voluntariados me condujeron
            a la carrera de Recursos Humanos y al Coaching.
             utilizando mi potencial en niveles óptimos.
<a> <button class="btn btn susses btn-sm" data-ng-click="open" edit="openEdit"></button>
  </a></p><p><a>Full-Stack Sunior</a></p>
        <p></p>

      </span>
    </div>
  </div>



</body></html>
